body {
    background-color: rgb(233, 219, 179);
}

h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(142, 8, 8);
}

.image {
    width: auto;
    height: 600px;
}

li {
    font-size: 25px;
    color: rgb(142, 8, 8);
}
